<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" name="viewport">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="application-name" content="">
        <title>约车详情</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="version" content="">
        <meta http-equiv="Cache-Control" content="must-revalidate,no-cache"> 
        
        <link rel="stylesheet" href="css/order.css">
    </head>
    <body style="overflow: scroll;">        
       
        <label class="list_order" id="info_f304ba748b4cc1faa1cdc419651b5c17_0_0__1_0"></label>

        <div class="viewport">  
            <!--页头-->
            <header class="navbar"> 
				
                <div class="nav_main">
                
                	选择日期：
                	<select id="selectDate">
                		<?php foreach($dateArrs as $date){ 
                			if($nowDate == $date['date_date']){ ?>
                				<option selected="selected"><?php echo $date['date_date'] ?></option>
                			<?php }else{ ?>
                				<option><?php echo $date['date_date'] ?></option>
                			<?php }
	                		
                		 }?>
                	</select>
                	<a class="order_c_back" href="IndexController.class.php">
                    <img src="images/c_back_btn.png">
                    </a>
                	
				</div> 
            </header>
                   




<!--筛选导航栏-->
<nav class="ol_select_bar">
    <ul>
        <a href="" class="hover"><li> <span id="date_date"><?php echo $nowDate ?></span>课表</li></a>
        
    </ul>
</nav>
<!--订单列表-->
<section class="content_order">
<!--<div class="warnning">-->
	<!--<span class="title">重要提醒：</span>-->
	<!--<span class="word">商城与商家均不会以<i>订单异常、系统升级</i>为由，要求您点击任何链接进行退款！商城提醒您：提高警惕，谨防受骗！</span>-->
<!--</div>-->
<div class="block">
    <div class="order_list">
        <!--非商城自营显示店铺入口-->
            <div class="shop_title">
                <div class="fl">
                	第一节课（08:20-09:40）
                </div>
            </div>
            <div class="cart_item prd_ebook" id="ol_12254370245">
            <div class="detail">
            <h2 align="center">
				<?php foreach((array)$studentNames[1] as $studentName){ ?>
				<?php echo $studentName['student_name']; ?>
				<?php } ?>
			</h2>
            </div>
	        <div class="detail3">
	        	<?php if($nowDate == $dateArrs[0]['date_date']){ ?> 
	        	  	<?php echo "<a onclick='quxiao(1)'>取消约课</a>"; ?>
				<?php } ?>
	        </div>
	        </div>
    		</div>
</div>

<div class="block">
    <div class="order_list">
        <!--非商城自营显示店铺入口-->
            <div class="shop_title">
                <div class="fl">
                	第二节课（09:50-11:45）
                </div>
            </div>
            <div class="cart_item prd_ebook" id="ol_12254370245">
            <div class="detail">
            <h2 align="center">
				<?php foreach((array)$studentNames[2] as $studentName){ ?>
				<?php echo $studentName['student_name']; ?>
				<?php } ?>
			</h2>
            </div>
	        <div class="detail3">
	        	<?php if($nowDate == $dateArrs[0]['date_date']){ ?> 
	        	  	<?php echo "<a onclick='quxiao(2)'>取消约课</a>"; ?>
				<?php } ?>
	        </div>
	        </div>
    		</div>
</div>

<div class="block">
    <div class="order_list">
        <!--非商城自营显示店铺入口-->
            <div class="shop_title">
                <div class="fl">
                	第三节课（14:15-16:10）
                </div>
            </div>
            <div class="cart_item prd_ebook" id="ol_12254370245">
            <div class="detail">
            <h2 align="center">
				<?php foreach((array)$studentNames[3] as $studentName){ ?>
				<?php echo $studentName['student_name']; ?>
				<?php } ?>
			</h2>
            </div>
	        <div class="detail3">
	        	<?php if($nowDate == $dateArrs[0]['date_date']){ ?> 
	        	  	<?php echo "<a onclick='quxiao(3)'>取消约课</a>"; ?>
				<?php } ?>
	        </div>
	        </div>
    		</div>
</div>

<div class="block">
    <div class="order_list">
        <!--非商城自营显示店铺入口-->
            <div class="shop_title">
                <div class="fl">
                	第四节课（16:20-18:15）
                </div>
            </div>
            <div class="cart_item prd_ebook" id="ol_12254370245">
            <div class="detail">
            <h2 align="center">
				<?php foreach((array)$studentNames[4] as $studentName){ ?>
				<?php echo $studentName['student_name']; ?>
				<?php } ?>
			</h2>
            </div>
	        <div class="detail3">
	        	<?php if($nowDate == $dateArrs[0]['date_date']){ ?> 
	        	  	<?php echo "<a onclick='quxiao(4)'>取消约课</a>"; ?>
				<?php } ?>
	        </div>
	        </div>
    		</div>
</div>

<div class="block">
    <div class="order_list">
        <!--非商城自营显示店铺入口-->
            <div class="shop_title">
                <div class="fl">
                	第五节课（暂未开放）
                </div>
            </div>
            <div class="cart_item prd_ebook" id="ol_12254370245">
            <div class="detail">
            <h2 align="center">
				<?php foreach((array)$studentNames[5] as $studentName){ ?>
				<?php echo $studentName['student_name']; ?>
				<?php } ?>
			</h2>
            </div>
	        <div class="detail3">
	        	<?php if($nowDate == $dateArrs[0]['date_date']){ ?> 
	        	  	<?php echo "<a onclick='quxiao(5)'>取消约课</a>"; ?>
				<?php } ?>
	        </div>
	        </div>
    		</div>
    		<input type="hidden" id="copy_content" >
</div>

  


<script src="js/zepto.min.js"></script>
<script src="js/fx.js" type="text/javascript"></script>
<script src="js/event.js" type="text/javascript"></script>
<script src="js/fx_methods.js" type="text/javascript"></script>
<script src="js/order.js" type="text/javascript"></script>
<script src="js/js_tracker.js"></script>
<script type="text/javascript">
	function quxiao(course_name){
		if(confirm("您正在取消第"+course_name+"节课！确定吗？")){
			var student_name = prompt("请输入姓名！");
			var student_pwd = prompt("请输入约课密码！");
			if(student_name != "" && student_pwd != "" && student_name != null && student_pwd != null ){
				var date_date = $("#date_date").html();
				location.href="?ac=delete&&student_name="+student_name+"&student_pwd="+student_pwd+"&date_date="+date_date+"&course_name="+course_name;
			}else{
				alert("两项都不能为空，请重新取消约课！");
			}
		}
	}
	$("#selectDate").change(function(){
		location.href="?date_date="+$("#selectDate").val();
	})
</script>
</body>
</html><!--LHC-2015-10-06-->
